.top {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

.header {
    border: solid black;
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
}

.header-links-container {
    display:flex;
    gap: 10px;
    justify-content: end;
    color: #e5e7eb;
    font-size: 18px;
}

.sign-up-section-container {
    border: solid black;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-text-container {
}

.header-image {
    
    border: solid black;
    width: 300px;
    height: 100px;
    color: #e5e7eb;
    background-color: rgb(110, 110, 110);
    margin-left: .5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-one-title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 5%;
    margin-bottom: 0;
    margin-left: 0;
}

.header-text {
    color: #e5e7eb;
    font-size: 18px;
    margin: 5%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    max-width: 400px;
}

.sign-up-button-top {
    background-color: #3882F6;
    border: solid black;
    padding: 3px;
    flex-shrink: 0;
    width: 50px;
    color: #e5e7eb;
    margin: 5%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
}

.middle-one {

}

.header-two-title {

}

.cards-container {

}

.card-text-container {

}

.middle-two {
    display: flex;
    justify-content: center;
    background: #E5E7EB;

}

.quote-text {
    display: flex;
    justify-content: start;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    padding: 10%;
    padding-bottom: 0;
}

.quote-author {
    display: flex;
    justify-content: end;
    border: solid black;
    font-weight: bolder;
    padding: 10%;
    padding-top: 0;
    margin-bottom: 10%;
}

.quote-text, .quote-author {
    margin-left: 150px;
    margin-right: 150px;
    max-width: 600px;
}

.bottom {

}

.call-to-action-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid black;
    background-color: #3882F6;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 200px;
    margin-right: 200px;
}

.call-to-action-text-container {
    padding: 3%;
}

.call-to-action-header {
    border: solid black;
    margin-left: 100px;
    margin-right: 100px;
    color: #F9FAF8;
    font-size: 24px;
}

.call-to-action-text {
    border: solid black;
    margin-left: 100px;
    margin-right: 100px;
    color: #E5E7EB;
}

.sign-up-button-bottom {
    background-color: #3882F6;
    border: solid black;
    padding: 3px;
    flex-shrink: 0;
    color: #e5e7eb;
    margin-left: 100px;
    margin-right: 100px;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #e5e7eb;
    padding: .5%;
}